<div class="main-container">
    <header class="header header-7" app-header></header>
    <div class="content-container">
        <div class="content-area">
            <h3>User Management</h3>
            <div class="clr-row">
                <div class="clr-col-4">
                    <clr-datagrid [clrDgSingleSelected]="selectedUser" (clrDgSingleSelectedChange)="userSelection($event)">
                        <clr-dg-column>
                            Email
                            <clr-dg-string-filter [clrDgStringFilter]="emailFilter"></clr-dg-string-filter>
                        </clr-dg-column>

                        <clr-dg-row *clrDgItems="let u of users" [clrDgItem]="u">
                            <clr-dg-cell>{{ u.email }}</clr-dg-cell>
                        </clr-dg-row>

                        <clr-dg-footer>
                            <clr-dg-pagination #pagination [clrDgPageSize]="10">
                                <clr-dg-page-size [clrPageSizeOptions]="[10, 20, 50]">Users per page</clr-dg-page-size>
                                {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                                of {{pagination.totalItems}} users
                            </clr-dg-pagination>
                        </clr-dg-footer>
                    </clr-datagrid>
                </div>
                <div class="clr-col-8">
                    <ng-container *ngIf="selectedUser">
                        <clr-tabs>
                            <clr-tab>
                                <button clrTabLink>Basic Info</button>
                                <ng-template [(clrIfActive)]="basicInfoActive">
                                    <clr-tab-content>
                                        <edit-user [user]="selectedUser"></edit-user>
                                    </clr-tab-content>
                                </ng-template>
                            </clr-tab>
                            <clr-tab>
                                <button clrTabLink>Access Codes</button>
                                <ng-template [(clrIfActive)]="accessCodesActive">
                                    <clr-tab-content>
                                        <edit-access-codes [user]="selectedUser"></edit-access-codes>
                                    </clr-tab-content>
                                </ng-template>
                            </clr-tab>
                            <ng-container *ngFor="let s of sessions">
                                <clr-tab>
                                    <button clrTabLink [id]="s.id">
                                        <ng-container *ngIf="s.active && !s.finished && !s.paused">
                                            <clr-icon shape="play" class="is-solid is-success"></clr-icon>
                                        </ng-container>
                                        <ng-container *ngIf="s.active && s.paused && !s.finished">
                                            <clr-icon shape="pause" class="is-solid is-highlight"></clr-icon>
                                        </ng-container>
                                        <ng-container *ngIf="s.finished">
                                            <clr-icon shape="stop" class="is-solid is-danger"></clr-icon>
                                        </ng-container>
                                        {{ s.id }}
                                    </button>
                                    <clr-tab-content *clrIfActive>
                                        <session [session]="s"></session>
                                    </clr-tab-content>
                                </clr-tab>
                            </ng-container>
                        </clr-tabs>
                    </ng-container>
                </div>
            </div>            
        </div>
    </div>
</div>